@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #161616;
  --text-base: #f8fafc;
  --lcky-red: #c5100d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #f8fafc;
    --text-base: #161616;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
